.parent__container {
  padding: 10px;
}

.loader__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.input__sub__container {
  width: calc(100% - 10px - 0.8em);
}

.alignItems {
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.sidepanel__container {
  margin: 0 5px;
  padding-right: 5px;
}

.search__container {
  flex-grow: 1;
}

.select {
  width: 200px;
}

.child__container {
  width: 100%;
  height: calc(100vh - 100px)
}